@tailwind base;
@tailwind components;

.div_border {
   @apply w-7 h-1 bg-green-500 my-5;
}

.bold_text {
   @apply font-extrabold text-lg;
   font-size: 25px;
}

.flex-prop {
   display: flex;
   flex-direction: column;
   @apply gap-4
}

@tailwind utilities;

.slider {
   animation: move 15s infinite linear;
}

@keyframes move {
   0% {
      top: 0;
   }

   100% {
      top: -165%;
   }
}

.names {
   @apply font-extrabold text-2xl
}

.role {}

.company_img {
   width: 180px;
}

.image {
   max-width: 320px;
   max-height: 320px;

}

.span2 {
   @apply text-3xl font-light
}

.span1 {
   @apply text-3xl font-light
}

.two, .three, .four, .five, .six, .seven {
   @apply bg-gray-500
}

.one {
   @apply bg-blue-500
}

a {
   color: rgb(2, 123, 253);
}

a:hover {
   color: rgb(7, 76, 99);
   transition: all 1s;
}

.ResOp {
   z-index: 0;
   transition: all ease 0.5s;
   width: 0;
}

.active {
   transform: scaleX(1);
   width: 100vw;
   z-index: 50;

}

.RotateMenu {
   transition: all ease 0.2s;
   transform: rotate(-180deg);
}

.RotateMenu1 {
   transition: all ease 0.8s;
   transform: rotate(360deg);
}
